{{ partial "brand.html" . }}
{{ partial "header.html" . }}

<!--  This is the view that you get when you click "see all posts" -->
<body>
<div id="layout" class="pure-g">
<article class="pure-u-1">
  {{if eq .Type "post" }}
    {{ partial "content.header.html" . }}
    <section class="list-page">
      {{ range .Pages }}
        <ul>
          <a href="{{ .RelPermalink  | relURL}}">{{.Title}}</a>
            <span class="list-date">{{ .Date.Format "January 2, 2006" }}</span>
        </ul>
      {{ end }}
    </section>
  {{ else if eq .Type "notes" }}
    <section class="list-page">
      {{ range .Pages }}
        <ul>
          <a href="{{ .RelPermalink  | relURL}}">{{.Title}}</a>
        </ul>
      {{ end }}
    </section>
  {{ end  }}
{{ partial "footer.html" . }}
</article>
</div>
</body>
</html>
