<span class="camerons_logo">
      <span class = "blog_logo">
        <h1 style="font-style: italic;"> Cameron's Blog </h1>
         <!-- <img src="{{ .Site.Params.logo.url | relURL }}" alt="Blog Logo" style="height: 200px; width:200px;"> -->
      </span>
      <h2> Finance, statistics, data, and other trash </h2>
      <h4><a href="{{.Site.BaseURL | relURL}}"> Blog </a> ∘ <a href="/about"> About </a> ∘ <a href="/links"> Links </a> ∘ <a href="https://github.com/cpfiffer"> Github </a></h4>
      <!-- {{if .IsHome}}
        {{if .Site.Params.showtitle}}
          <span id = "blog_title">
            {{.Site.Title}}
          </span>
        {{end}}
      {{end}} -->
</span>