<section>
  <div class="content-row">

  <div class="content-row-title">
  {{ if .IsNode }}
  <a rel="preload" href="{{ .Permalink | relURL }}">{{ .Title}}</a>
  {{ else }}
  <a href="{{ .RelPermalink | relURL}}">{{ .Title }}{{ if .Draft }} :: Draft {{end}}</a>
  {{ end }}

  — &nbsp;{{ .Date.Format "Jan 2, 2006" }}

  {{ if .Summary }}
    <p>
    {{.Summary}}
    </p>
    <div align="right">
      <a rel="preload" href="{{ .Permalink | relURL }}"> Read more </a>
    </div>
  {{ end }}

  {{ if .IsPage }}&nbsp;
  <!-- {{ if .Params.subtitle }}<p class=subtitle>{{ .Params.subtitle }}</p>{{ end }} -->
  {{ if not .Params.hidedate }}&nbsp;
  <!-- <i class="fa fa-calendar"></i> -->
  <!-- {{ if not .Date.IsZero }}
  <span class="index-date">

  </span class="index-date">
  {{ end }} -->
</div>
  {{end }}
</div>
  {{ if or (eq .Type "post") (.Params.meta)  }}
  <span class="content-meta">

  <!-- {{ with .Params.authors }}
  {{ end }}

  {{ if .Params.author }}
  <i class="fa fa-user">&nbsp;</i><span class="author">
    &nbsp;{{ .Params.author }}</span> <br>
    {{ end }} -->




  <!-- {{ if not .Params.hidereadtime }}
  &nbsp;<i class="fa fa-clock-o"></i>
    &nbsp;{{ .ReadingTime }} min read
  {{ end }} -->

  <!-- {{ if .Params.categories }}
  <br>
    <i class="fa fa-tags"> </i>
    {{ range .Params.categories }}
    <a  href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    {{ end }} -->
    </span>
    {{ end }}
    {{ end }}
    </section>
