{{ partial "header.html" . }}
{{ partial "brand.html" . }}
<body>
<style>
  body {
    /* padding-left: 0 !important; */
  }
  p {
    width: 100%;
  }
</style>
<div id="homepage">
<!--{{ partial "banner.html" . }}-->

{{ range .Site.Pages }}
  {{if eq .Type "post" }}
    {{if eq .Title "Posts"}}
    {{else}}
    <div class = "row">
      <div class="column-title">
        <a href="{{ .RelPermalink | relURL}}"> {{ .Title }} </href>
      </div>
      <div class="column-date">
        {{ .Date.Format "Jan 2, 2006" }}
      </div> 
    </div>
    <br>
      <!-- {{ partial "content.header.html" . }} -->
      <!-- <p>{{ .Params.excerpt }}</p> -->
      <!-- <p><a href="{{ .RelPermalink | relURL }}">Read On &rarr;</a></p> -->
      <!-- <hr> -->
    {{ end  }}
  {{ end }}
{{ end  }}
<h2><a href="{{ .RelPermalink }}post" style="text-decoration: none;">See all posts</a></h2>
{{ partial "footer.html" . }}
</div>
</body>
</html>
